<h2>Отчёт по проекту &quot;{{ project_name }}&quot;</h2>
<article>
    <h3>Создан {{ 'datetime' }}</h3>
</article>
<a
    class="btn btn-primary"
    href="{{ path('download_project_report') }}"
    download=""
    role="button"
>
    Скачать PDF
</a>
